
html{
	font-size: 62.5%;

	stop-color: green #aaa;
	scroll-behavior: smooth;
  	font-family: Arial;
}

body {
	margin:0em;
	margin-top: 1em;
	font-size:1.6em;
}	
/*carrousel*/
div#slider>figure.wrapper {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    /*animation: 30s slidy infinite;*/
}

div#slider {
    width: 100%;
    overflow: hidden;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

div#slider>figure>img {
    width: 20%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}


/*mmeilleur ventes*/


a.button {
    align-items: center;
    background-color: #3d4852;
    border: 1px solid #3d4852;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25em 0.75em;
    text-decoration: none;
}

a.button:hover {
    background-color: #58636F;
    box-shadow: 0 0 2px 2px #bac6d3;
}


.carousel ul {
    margin: 0 0 1.5em;
    padding: 0;
}

.carousel li {
    display: inline-block;
}


.card img {
    height: auto;
    margin-bottom: 0.5em;
    max-width:15.5em;
    max-height: 15.5em;
    display: block;
	margin-left: auto;
	margin-right: auto;
    left: -1em;
    right: -1em;

}

.card p {
    margin: 0 0 .5em;
}

.card h3{
	height:2.5em;
	
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1em;
    
}

/*Carousel flex */

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1em 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1em;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/*header */
.grid-container {
    display: grid;
	text-align: center;
}


.rose{
	color: #FD6C9E;
}
h2{
	font-size:  3em;
}
h3{
	font-size:  2em;
}
h2,h3{
	text-align: center;
	color:  #D0006F;
	
}

/* contenu coups de coeurs*/

.coup_de_coeur{
	display: grid;
	text-align: center;
	
	justify-items: center;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%;
}

.coup_de_coeur p{
	font-size: 1.5em;
}

.coup_de_coeur img {


	max-width:15.5em;
    max-height: 15.5em;
	
}




/* footer*/
.footer{
	overflow: hidden;
	background-color: #333;

  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   
  display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 1em;
grid-auto-rows: minmax(1em, auto);
text-align: center;

}


.footer-top{
	grid-column: 1;
	grid-row: 1;
}
.footer-middle{
	grid-column: 1;
	grid-row: 2;

}
.footer-bottom{
	grid-column: 1;
	grid-row: 3;
}

/* navigation */
/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

.navigation {
  overflow: hidden;
  background-color: #333;

}

.navigation a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 	
}

/* dropdown  */
.dropdown {
  float: left;
  overflow: hidden;
}

/* bouton Dropdown  */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}


.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: #FD6C9E;
}

/*contenu Dropdown  (cacher par default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*contenu du dropdown*/
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.description{
	text-align: center;
}



/* Media Queries
--------------------------------------------- */
@media screen and (min-width: 20em) { 

/*header*/
.grid-container {
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(1em, auto);
}


/*contenu*/
.coup_de_coeur{
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(10em, auto);	
}

 .carousel{
	margin-right: 1em;
	margin-left: 1em;
}

}


@media screen and (min-width:   70em) { 

body{
		font-size:1.6em;
}
 .navigation{
 	display: block ;
 }
 
.carousel{
	margin-right: 10em;
	margin-left: 10em;
}
/*header*/
.grid-container {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(1em, auto);
}

.logo_principal{
	grid-column: 1;
	grid-row: 1;
}
 
.search{
	grid-column: 2;
	grid-row: 1;
	
}

input#search_bar{

	width: 70%;
}

.logo_header{
	grid-column: 3;
	grid-row: 1;
}

/* contenu */

.description p{
	align-items: center;
	padding-right: 10em;
	padding-left: 10em;
}


.coup_de_coeur{
	grid-template-columns: minmax(10em, auto);
	grid-auto-rows: minmax(10em, auto);
	grid-row-gap: 1em;

	padding-right: 10em;
	padding-left: 10em;
}

.pinguin{
	grid-column: 1;
	grid-row: 1;

	
}
.womanizer{
	grid-column: 2;
	grid-row: 1;
}

.bondage{
	grid-column: 3;
	grid-row: 1;
}

.infinity{
	grid-column: 1;
	grid-row: 2;

}
.hammer{
	grid-column: 2;
	grid-row: 2;
}

.body_gonflable{
	grid-column: 3;
	grid-row: 2;
}

@media screen and (min-width: 120em) { 
	

}